<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/resources/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/resources/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/resources/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/resources/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/resources/favicons/safari-pinned-tab.svg" color="#08006e">
  <link rel="shortcut icon" href="/static/resources/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="PanthrApp">
  <meta name="application-name" content="PanthrApp">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/static/resources/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link href="/static/styles/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>PantherAI</title>
</head>
<body>
  <div class="navbar">
    <a href="/">
      <span class="navbartitle">PantherAI</span><span class="navbartitlenote">Beta</span>
    </a>
    <span class="space"></span>
    <a href="/start">
      <!-- <span class="navbaritem">Get Started</span> -->
      <a href="user"><span class="navbaritem">Dashboard</button></a>
    </a>
  </div>
  <div class="content">
  <h1>Welcome to PantherAI!</h1>
  <h2>Superpowering JLS with AI!</h2>
  <p>Access the school lunch menu, weather, and more in a wonderful chat bot right now!</p>
  <a href="/user"><button>Get Started!</button></a>
  <p>The version you are currently using is: Beta v0.3.0</p>
  <p>As we are currently in beta, a lot of changes are made to this service often. We recomend "refreshing your cache" every once in a while. In most browsers, this should be as simple as ⌘⇧R (Mac) or CTRL⇧R (Windows/Linux/etc.)</p>
  <h2>Changelog</h2>
  <h3>v0.3.0</h3>
  <span class="updatecomment">
    <p>This update was a big one! I added some quality of life features (see if you can spot them) and reworked almost all of the code behind the scenes to make the login functionality work! Now you can use your Google account to login and access all of your chats! Sorry if you're logged out often, I'm working on fixing that right away! For now, enjoy the update, and keep an eye out for many bug fixes!</p>
  </span>
  <ul>
    <li>Completely rehauled the system!</li>
    <li>Sign in with Google for easy access to all of your chats!</li>
    <li>Added a dashboard to view your recent threads!</li>
    <li>A tour for new users so they understand the chat interface!</li>
    <li>Quality of life improvements!</li>
  </ul>
  <h3>v0.2.1</h3>
  <ul>
    <li>Tons of bug fixes!</li>
    <li>New message sent animation</li>
  </ul>
  <h3>v0.2.0</h3>
  <ul>
    <li>New homepage</li>
    <li>New "explore" example prompts on thread page</li>
    <li>Added loading icon to thread page</li>
  </ul>
  <h3>v0.1.0</h3>
  <ul>
    <li>Overhauled the user interface</li>
  </ul>
  <p>Made by Adam Xu</p>
  </div>
</body>
</html>
