<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/resources/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/resources/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/resources/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/resources/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/resources/favicons/safari-pinned-tab.svg" color="#08006e">
  <link rel="shortcut icon" href="/static/resources/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="PanthrApp">
  <meta name="application-name" content="PanthrApp">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/static/resources/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link href="/static/styles/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>PantherAI</title>
</head>
<body>
  <div class="navbar">
    <a href="/">
      <span class="navbartitle">PantherAI</span><span class="navbartitlenote">Beta</span>
    </a>
    <span class="space"></span>
    <a href="/thread">
      <span class="navbaritem">Dashboard</span>
    </a>
  </div>
  <div class="content">
    <h1>Privacy</h1>
    <p>
      PantherAI collects data in order to improve our product. We aim to transparent in what data we collect and how we use it. The data we collect is constantly evolving as we improve our products. Please check back here for the latest information.
    </p>
    <h2>Data we collect</h2>
    <ul>
      <li>Messages: We collect messages sent to PantherAI in order to improve the services we provide. Please do not send any messages containing confidential information, as we do read through threads. We also moderate chat threads to prevent abuse.</li>
    </ul>
    <h2>Data we <b>DO NOT</b> collect</h2>
    <ul>
      <li>User account information: We will not be able to see the name or email of users of this chatbot. We store this information securely on our servers and use them only for necessary reasons such as authentication.</li>
      <li>Any other data: We do not store your other data whatsoever.</li>
    </ul>
    <h2>Data we use but do not store</h2>
    <p>We use certain data that is necessary to the operation of our products. These are now stored on our servers ever and are only used to allow your access to our services. These include:</p>
    <ul>
      <li>IP Addresses: We use these to route information to you. We will never view your IP Address.</li>
    </ul>
  </div>
</body>
</html>
