html {
  height: 100%;
  width: 100%;
  font-family: Inter, sans-serif;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  background-color: var(--navbar-color);
  border-bottom: solid;
  border-width: 1px;
  border-color: #ffffff20;
  z-index: 1;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  padding: 5px;
  background-color: var(--navbar-accent);
  border-style: none;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
  cursor: pointer;
  /* transition: background-color 0.2s; */
  color: var(--navbar-link-color);
}

button:hover {
  background-color: #111;
}

button:active {
  background-color: #222;
}

button:disabled {
  background-color: #333;
}

textarea {
  padding: 5px;
  margin: 0;
  resize: none;
  background-color: #000;
  border-style: none;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
  /* transition: background-color 0.2s; */
  font-family: Roboto, sans-serif;
  color: var(--navbar-text-color);
}

textarea::placeholder {
  color: var(--navbar-link-accent);
  opacity: 1; /* Firefox */
}

textarea:focus {
  outline: none;
  border-color: #ddd;
}

textarea:disabled {
  background-color: #333;
}

a {
  /* transition: color 0.2s; */
  text-decoration: none;
  color: var(--link-color);
}

a:visited { color:var(--link-color); }
a:hover, a:active { color:var(--link-accent); text-decoration: underline;}
/* a:focus { color:var(--link-accent); text-decoration: underline; } */
/* a:hover, a:active { color:#fff } */

.navbar a {
  text-decoration: none;
  color: var(--navbar-link-color);
}

.navbar a:hover {
  color: var(--navbar-link-accent);
}

.navbar button {
  width: 256px;
  height: 54px;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: center;
}

.navbartitle {
  font-size: 48px;
  font-weight: bold;
  margin: 10px;
  vertical-align: bottom;
}

.navbartitlenote {
  font-size: 24px;
  font-weight: normal;
  vertical-align: bottom;
}

.content {
  margin-top: 70px;
}

.space {
  margin-left: 20px;
}

.navbaritem {
  font-size: 32px;
}

.inactive {
  display: none;
}

.navbaritem img {
  height: 32px;
  width: 32px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

@media only screen and (min-width: 620px) {
  .navbaritem img {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  #dashboard, #newthread {
    display: none;
  }

  .navbaritem img {
    height: 32px;
    width: 32px;
    display: inline;
  }
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.tourmodal {
  position: fixed;
  z-index: 100;
  width: 620px;
  height: 500px;
  top: calc(50% - 250px);
  left: calc(50% - 310px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.tourmodal iframe {
  width: 620px;
  height: 500px;
  border: solid #ffffff50;
  border-radius: 8px;
}

@media only screen and (max-width: 620px) {
  .tourmodal {
    width: 360px;
    height: 320px;
    top: calc(50% - 160px);
    left: calc(50% - 180px);
  }

  .tourmodal iframe {
    width: 360px;
    height: 320px;
  }
}

.open {
  opacity: 0.3;
  pointer-events: auto;
}

.actived {
  opacity: 1;
  pointer-events: auto;
}

input {
  color: var(--navbar-text-color);
  background-color: var(--navbar-accent);
  border: solid 1px #ffffff;
  padding: 5px;
  border-radius: 5px;
}

input::placeholder {
  color: var(--navbar-link-accent);
  opacity: 1;
}