body {
  background-color: var(--background-color);
}

.mainimg {
  width: 100%;
  height: auto;
  margin: 0;
}

.slide p {
  font-size: 24px;
  height: 72px;
}

.navbuttons {
  display: flex;
  justify-content: flex-start;
}

#skipbutton {
  margin-left: auto;
}